$light-scrollbar-classname: "light-scrollbar" !default;
$frs-hide-scroll-classname: $light-scrollbar-classname !default;
$disable-default-theme: false;

@import "../node_modules/@frsource/frs-hide-scrollbar/src/index.scss";

//TODO: export in package scss file
.#{$light-scrollbar-classname} {
  position: relative;

  &,
  &-wrapper {
    max-height: inherit;
    min-width: 0;
    min-height: 0;
  }

  &-wrapper {
    &-inside,
    &-outside {
      scroll-behavior: smooth;
    }
    &-inside[data-ls-created] {
      position: absolute;
      inset: 0;
      overflow: auto;
      padding: inherit;
    }
  }

  &-wrapper-inside {
    &.no-smooth {
      scroll-behavior: auto;
    }
  }

  &-wrapper-outside {
    overflow: initial;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      @if ($disable-default-theme != true) {
        background-color: #cbd5e1;
        border-radius: 12px;
      }
    }

    &::after {
      top: 0;
      right: var(--ls-bar-y-offset-x);
      height: var(--ls-bar-y-height);
      width: var(--ls-bar-y-width);
      transform: translate3d(0, var(--ls-bar-y-top), 0);
    }

    &::before {
      left: 0;
      bottom: var(--ls-bar-x-offset-y);
      height: var(--ls-bar-x-height);
      width: var(--ls-bar-x-width);
      transform: translate3d(var(--ls-bar-x-left), 0, 0);
    }

    &.hover-x,
    &.hover-y {
      user-select: none;

      &::after,
      &::before {
        cursor: pointer;
      }
    }

    @if ($disable-default-theme != true) {
      &.hover-y::after {
        background-color: #94a3b8;
      }

      &.hover-x::before {
        background-color: #94a3b8;
      }

      &.active-y::after {
        background-color: #94a3b8;
      }

      &.active-x::before {
        background-color: #94a3b8;
      }
    }
  }
}
