name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  cache:
    name: CI cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0
        name: Install pnpm
        with:
          version: 7.11.0
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "pnpm"
      - name: Remove git auth
        run: git config --unset http.https://github.com/.extraheader
      - name: Install dependencies
        run: pnpm i

  lint:
    name: lint
    runs-on: ubuntu-latest
    needs: cache
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0
        name: Install pnpm
        with:
          version: 7.11.0
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "pnpm"
      - name: remove git auth
        run: git config --unset http.https://github.com/.extraheader
      - name: Install dependencies
        run: pnpm i
      - name: Lint
        run: pnpm lint.ci

  test:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [cache, lint]
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0
        name: Install pnpm
        with:
          version: 7.11.0
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "pnpm"
      - name: Install rimraf
        run: npm i -g rimraf
      - name: Install dependencies
        run: pnpm i
      - name: build
        run: pnpm build
      - name: Install Cypress
        run: pnpm cypress install
      - name: Run cypress tests
        uses: cypress-io/github-action@a85ef18dd1056ef76e55bc8862d7aa6f1c0d9590
        with:
          install: true
          command: pnpm test.ci
      - name: Upload Cypress artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-report
          path: |
            cypress/report
            cypress/screenshots
            cypress/snapshots
            cypress/logs

  build-and-release:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: build and release
    runs-on: ubuntu-latest
    needs: [cache, lint, test]
    steps:
      - uses: actions/checkout@v5
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: "0"
      - name: Setup git user
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
      - uses: pnpm/action-setup@v4.1.0
        name: Install pnpm
        with:
          version: 7.11.0
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "pnpm"
      - name: Install rimraf
        run: npm i -g rimraf
      - name: remove git auth
        run: git config --unset http.https://github.com/.extraheader
      - name: Install dependencies
        run: pnpm i
      - name: Authenticate with Registry
        run: |
          echo "registry=http://registry.npmjs.org/" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: build
        run: pnpm build
      - name: release package
        if: ${{ success() && github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        run: pnpm release.ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_REGISTRY: https://registry.npmjs.org/
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-docs:
    runs-on: ubuntu-latest
    needs: [cache, lint]
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0
        name: Install pnpm
        with:
          version: 7.11.0
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "pnpm"
      - name: Install rimraf
        run: npm i -g rimraf
      - name: Install dependencies
        run: pnpm i
      - name: Build
        run: pnpm build
      - name: Build docs
        run: pnpm docs:build
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/.vitepress/dist
